<!DOCTYPE html>
<html ng-app="calculatorApp" lang="en">
    <head>
        <title></title>

        @Styles.Render("~/Content/bootstrap.min.css")
    </head>
    <body>

        <div ng-view class="container"></div>

        @Scripts.Render("~/Scripts/jquery-2.2.2.min.js")
        @Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/angular-route.js")
        @Scripts.Render("~/Scripts/app/app.js")
        @Scripts.Render("~/Scripts/app/controllers/controllers.js")
        @Scripts.Render("~/Scripts/app/services/services.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
    </body>
</html>